{% extends 'layouts/main.html' %}

{% block body %}

    <h2>Products:</h2>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>asin</th>
                <th>title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.asin }}</td>
                    <td>{{ product.title }}</td>
                    <td>
                        <a href="{{ url_for('main_blueprint.main_add_review', asin=product.asin) }}">Add Review</a>
                        <a href="{{ url_for('api_blueprint.review_add', asin=product.asin) }}">API JSON</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
