{% extends 'layouts/main.html' %}

{% block body %}

    <h2>Product:</h2>
    <p>
        {{ product.asin }}
        <br/>
        {{ product.title }}
    </p>

    <h2>Add Review:</h2>
    <div>
        <form method="post" action="{{ url_for('api_blueprint.review_add', asin=product.asin) }}">
            {{ form.hidden_tag() }}

            {{ render_field(form.title) }}
            {{ render_field(form.review) }}

            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>


    <h2>Reviews:</h2>
    {% for review in product.reviews %}
        <p>
            <div>{{ review.title }}</div>
            <div>{{ review.review }}</div>
        </p>
        <hr>
    {% endfor %}

{% endblock %}
