{% extends 'layouts/main.html' %}

{% block body %}

    <h2>Product:</h2>
    <p>
        {{ product.asin }}
        <br/>
        {{ product.title }}
    </p>

    <h2>Add Review:</h2>
    <div>
        <form method="post" action="{{ url_for('api_blueprint.review_add', asin=product.asin) }}"
              onsubmit="return onSubmitReview(event)">
            {{ form.hidden_tag() }}

            {{ render_field(form.title) }}
            {{ render_field(form.review) }}

            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>


    <h2>Reviews:</h2>
    {% for review in product.reviews %}
        <p>
            <span>{{ review.title }}</span>
            <br />
            <span>{{ review.review }}</span>
        </p>
        <hr>
    {% endfor %}

{% endblock %}

{% block js %}
    <script>

        function createNewReview() {
            return fetch("{{ url_for('api_blueprint.review_add', asin=product.asin) }}", {
              method: 'PUT',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
               },
              body: JSON.stringify({
                title: document.getElementById('title').value,
                review: document.getElementById('review').value,
                csrf_token: document.getElementById('csrf_token').value
              })
            }).then(response => response.json())
        }

        function onSubmitReview(e) {
            e.preventDefault()

            createNewReview()
               .then((response) => {
                   if (response.status === 'success') {
                       alert('Review added')
                       window.location.reload(false);
                   }
                   if (response.status === 'error') {
                       alert(response.errors.map( (err) => Object.keys(err).map((i)=> i+ ': ' + err[i].join(', ')).join(', ') ).join('<br />'))
                   }
                })
               .catch(error => console.error(error));

            return false
        }

    </script>

{% endblock %}
